@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    /*font-family: Poppins;*/
    box-sizing: border-box;
}
body{
    background: rgb(219,219,241);
    background: linear-gradient(0deg, rgba(219,219,241,1) 52%, rgba(255,255,255,1) 80%);
    background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
}
.container{
    width: 100%;
    background-color: white;
    /*box-shadow: 0.5px 1px 10px rgb(208, 208, 208);*/
    font-family: Poppins;
    display: flex;
    position: fixed;
    top: 0;
    height: 70px;
    z-index: 1;
}

.menu{
    text-align: right;
    width: 100%;
    font-weight: bold;
    padding: 25px;
}
.menu .list li a{
    padding: 25px;
    text-align: right;
    text-decoration: none;
    color: black;
}
.judul{
    font-family: Poppins;
    font-weight: 300;
    padding: 10px;
    width: 50%;
    text-align: center;
}

.menu .list li a:hover{
    color:blue;
}
.list .tooltip .tooltiptext {
    font-size: 14px;
    font-weight: 300;
    visibility: hidden;
    width: auto;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    top: 54px;
    padding: 2px 2px;
    box-shadow: 1px 1px 4px #888888;
    
    position: absolute;
    z-index: 1;
}
.list .tooltip .tooltiptext.nav1{
    right: 380px;
}
.list .tooltip .tooltiptext.nav2{
    right: 230px;
}
.list .tooltip .tooltiptext.nav3{
    right: 160px;
}
.list .tooltip .tooltiptext.nav4{
    right: 60px;
}
.list .tooltip:hover .tooltiptext {
    visibility: visible;
}
.list .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}
.list .tooltip .tooltiptext{
    opacity: 0;
    transition: opacity 0.5s;
}
  
.list .tooltip:hover .tooltiptext {
    opacity: 1;
}

.container2{
    background-color: white;
    width: 100%;
    height: 400px;
    font-family: Poppins;
    display: inline-flex;
    top: 0;
}
.under-section{
    padding: 100px;
    width: 60%;

}
.right-section{
    width: 40%;
}
.round{
    margin: 100px 100px 0 200px;
    width: 200px;
    height: 200px;
    background-color: wheat;
    border-radius: 50%;
}
div.under-section div p{
    font-weight: 100;
}

#isi{
    width: 100%;
    height: 100%;   
}

.container3{
    background-color: white;
    width: 100%;
    height: 5px;
    box-shadow: 0px 2px 2px 0px #888888;
    position: sticky;
    display: flex;
    top: 70px;
    z-index: 0;
}

.footer{
    font-family: Poppins;
    background-color: #252525;
    color: whitesmoke;
    padding: 50px;
    height: 100%;
    display: flex;
}
.footer button{
    background-color: lightblue;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    margin: 20px 0px 20px 0px;
    cursor: pointer;
}
.footer-left{
    width: 60%;
    padding: 5px;
    font-weight: 200;
}
.footer-right{
    width: 40%;
    padding: 5px;
    font-weight: 200;
    border-left: 1px solid white;
    padding-left: 10px;
    color: white;
}

.sosmed{
    display: inline-flex;
    list-style: none;
    margin-left: 10px;
}
  
.sosmed .icon {
    position: relative;
    background: #ffffff;    
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
  
.sosmed .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    pointer-events: none;
    transition: 0.3s;
    opacity: 0;
}
  
.sosmed .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: 80%;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: 0.3s;
    opacity: 1;
}
  
.sosmed .icon:hover .tooltip {
    top: 60px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
  
.sosmed .icon:hover span,
.sosmed .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
  
.sosmed .facebook:hover,
.sosmed .facebook:hover .tooltip,
.sosmed .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #ffffff;
}
  
.sosmed .twitter:hover,
.sosmed .twitter:hover .tooltip,
.sosmed .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #ffffff;
}
  
.sosmed .instagram:hover,
.sosmed .instagram:hover .tooltip,
.sosmed .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #ffffff;
}
  
.sosmed .github:hover,
.sosmed .github:hover .tooltip,
.sosmed .github:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
}
  
.sosmed .youtube:hover,
.sosmed .youtube:hover .tooltip,
.sosmed .youtube:hover .tooltip::before {
    background: #CD201F;
    color: #ffffff;
}

html {
    scroll-behavior: smooth;
}
i{
    color: black; 
 }
 i:hover{
    color:white;
 }
.isi1{
    font-family: Poppins;
    font-weight: 100;
    padding-top: 100px;
    color : black;
    font-size: 100%;
}
.preview{
    font-family: Poppins;
    font-weight: 100;
    padding-top: 100px;
    color : black;
    font-size: 100%;
}
.embed-content{
    font-family: Poppins;
    text-align: center;
    width: auto;
}
.update{
    display: flex;
}
.first-content{
    margin: 50px 0px 50px 200px;
    width: 540px;
    height: 320px;
    background-color: white;
    border-radius: 20px;
    -moz-border-radius: 20px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    overflow: hidden;
    box-shadow: 0px 2px 2px 0px #888888;
    
}
.second-content{
    margin: 50px 200px 50px 0px;
    width: 540px;
    height: 320px;
    background-color: white;
    border-radius: 20px;
    -moz-border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    overflow: hidden;
    box-shadow: 0px 2px 2px 0px #888888;
}
.caption{
    margin: 50px 0px 50px 0px;
    width: 320px;
    height: 320px;
    padding: 10px 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 2px 2px 0px #888888;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid black;
}
.caption2{
    margin: 50px 0px 50px auto;
    width: 320px;
    height: 320px;
    padding: 10px 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 2px 2px 0px #888888;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1px solid black;
}

iframe{
    max-width: 100%;
    max-height: 100%;
}
img {
    max-width: 100%;
    max-height: 100%;
}


ul li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
}


@media screen and (max-width: 600px){
    .menu{
        visibility: hidden;
    }
    .under-section{
        padding:30px;
        width: 100%;
    }
    .container{
        width: 100%;
    }
    .container2{
        margin-top: 70px;
        display: block;
        height: 100%;

    }
    #isi{
        width: auto;
    }
    .right-section{
        margin: 0px auto;
    }
    .round{
        display: flex;
        margin: 0px;
        height: auto;
        padding: 0px auto;
        justify-content: center;
    }
    iframe{
        scale: 20%;
    }
    .sosmed{
        display: flow-root;
    }
    .embed-content{
        display: flow-root;
        margin: 50px auto;
    }
    .update{
        width: 100px;
        height: 100%;
        display: block;
        padding: 0px 100px;
    }
    .caption,
    .caption2{
        margin: 50px auto 50px auto;
    }
    .first-content{
        display: none;
    }
    .second-content{
        display: none;
    }
    .footer-left{
        display: flow-root;
    }
    .footer-left p{
        font-size: 70%;
    }

}
